      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow:hidden;
        font-family:arial,helvetica;
      }

      body {
                background-color: #8F8F8F;
      }

      #map_canvas {
        margin-top:28px;
        height: 100%;
        width:100%;
        padding:0;
      }

      ul, li, div {
        margin:0;
        padding:0;
        list-style:none;
        font-size: 14px;
      }      

      #slidedownmenu {
        position:absolute;
        width:100%;
        height:85px;
        top:-115px;
        left:0;
        z-index:999;
        background:#1FC219;
      }

      #slidedownmenu a:link{
        text-decoration:none;
        color:white;
      }

      #slidedownmenu a:visited{
        text-decoration:none;
        color:white;
      }

      #slidedownmenu a:active{
        text-decoration:none;
        color:white;
      }

      #slidedownmenu .handle {
        -webkit-user-select:none;
        position:absolute;
        bottom:-28px;
        left:0;
        width:100%;
        height:28px;
        border-top:1px solid #532500;
        border-bottom:1px solid #111;
        background-color:#c3a57e;
        background:url(/static/img/handle.png) no-repeat 50% 50%, -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #27E820), color-stop(0.1, #23D11D), color-stop(0.8, #1FC219));
      /*  -webkit-box-shadow:0 0 5px rgba(0,0,0,0.7);*/
      }

      #slidedownmenu ul {
        display:block;
        width:auto;
      }

      #slidedownmenu li {
        display:block;
        float:left;
        margin:10px 17px;
        text-align:center;
        font-weight:bold;
        color:#fff;
        text-shadow:0 1px 1px #000;
      }

      #slidedownmenu li img {
        display:block;
        margin-bottom:4px;
      }      

      #drinkbutton {
            display: block;
            background-color: #f7f7f7;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
            background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
            background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
            background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
            background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
            color: #a7a7a7;
            top:15%;
            margin: auto;
            width: 260px;
            height: 260px;
            position: relative;
            text-align: center;
            line-height: 300px;
            border-radius: 50%;
            box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
          }

      #drinkbutton:active{
        text-decoration: none;
        color: #555;
        background: #1A9915;
      }

      #drinkbutton:before {
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -18px;
        left: -18px;
        bottom: -18px;
        right: -18px;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 0px 8px 48px #ddd;
      }

      #drinkbutton img {
        margin-top:10px;
        width:240px;
        height:240px;
      }



      #options {
        margin: auto;
        position:absolute;
        display:block;
        bottom: 5%;
        text-align:center;
        font-weight:bold;
      }

      @media print {
        html, body {
          height: auto;
        }
      }