Django==1.6.2
Facebook==0.0
PIL==1.1.7
South==0.8.4
gunicorn==18.0
httplib2==0.8
oauth2==1.5.211
oauthlib==0.6.1
python-openid==2.2.5
python-social-auth==0.1.22
requests==2.2.1
requests-oauthlib==0.4.0
six==1.6.1
wsgiref==0.1.2
