<!DOCTYPE html>
<html>
  <head>
    <title>Google Maps JavaScript API v3 Example: Map Geolocation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    <script type="text/javascript" src="{{STATIC_URL}}js/slideinmenu.js"></script>
    <script src="{{STATIC_URL}}js/googlemap.js"></script>
    <script src="{{STATIC_URL}}js/drunkwithme.js"></script>
    <link href="{{STATIC_URL}}css/drunkwithme.css" rel="stylesheet" />
  </head>


  <body>
    <div id="slidedownmenu">
          <ul>
            <li><img src="{{STATIC_URL}}img/map.png" width="40" height="40" alt="" />Map</li>
            <li><img src="{{STATIC_URL}}img/carbomb.png" width="40" height="40" alt="" />Drink</li>
            <li><img src="{{STATIC_URL}}img/rank.png" width="40" height="40" alt="" />Rank</li>
            <li><img src="{{STATIC_URL}}img/stats.png" width="40" height="40" alt="" />Stats</li>
          </ul> 
          <div class="handle"></div>
    </div>    
   {% block body %}
   {% endblock %}
  </body>
</html>
