<!DOCTYPE html>
<html>
  <head>
    <title>Google Maps JavaScript API v3 Example: Map Geolocation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    <script type="text/javascript" src="{{STATIC_URL}}js/slideinmenu.js"></script>
    <script src="{{STATIC_URL}}js/googlemap.js"></script>
    <script src="{{STATIC_URL}}js/drunkwithme.js"></script>
    <link href="{{STATIC_URL}}css/drunkwithme.css" rel="stylesheet" />
  </head>


  <body>
   {% block body %}
   {% endblock %}
  </body>
</html>
