{% extends "base.html" %}

{% block body %}
   <button id="checkin">Check In</button>
   <div id="map_canvas"></div>
   <div id="checkinmodal">
       <label>Check In<br>at</label>
        <select id='baroption'>
          <option value="bar1">Bar 1</option>
          <option value="bar2">Bar 2</option>
          <option value="bar3">Bar 3</option>
        </select>
       <button id="checkin">Check In</button>
       <img id="closebutton" src="http://www.autoweek.com/assets/losangeles/closeButton.png">
   </div>
{% endblock %}

