{% extends "base.html" %}

{% block body %}
<div id="slidedownmenu">
      <ul>
        <li><img src="{{STATIC_URL}}img/map.png" width="40" height="40" alt="" />Map</li>
        <li><img src="{{STATIC_URL}}img/carbomb.png" width="40" height="40" alt="" />Carbomb</li>
        <li><img src="{{STATIC_URL}}img/rank.png" width="40" height="40" alt="" />Rank</li>
        <li><img src="{{STATIC_URL}}img/stats.png" width="40" height="40" alt="" />Stats</li>
      </ul> 
      <div class="handle"></div>
    </div>
    

    <div id="map_canvas"></div>
{% endblock %}

