{% extends "base.html" %}

{% block body %}
   <button id="checkin">Check In</button>
   <div id="map_canvas"></div>
   <div id="checkinmodal">
       <label>Check In<br>at</label>
        <select id='baroption'>
	  {% for bar in bars %}
          <option value="{{bar.id}}">{{bar.name}}</option>
	  {% endfor %}
        </select>
        <div id="success">Check In Successful!</div>
       <button id="checkin">Check In</button>
       <img id="closebutton" src="{{STATIC_URL}}img/close.png" />
   </div>
{% endblock %}

{% block extrascripts %}
<script>
{% include "js/index.js" %}
</script>
{% endblock %}
