<html >
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# drunkwithmeapp: http://ogp.me/ns/fb/drunkwithmeapp#">
    <meta property="fb:app_id"                content="427250317363941" /> 
    <meta property="og:type"                  content="drunkwithmeapp:bar" /> 
    <!-- <meta property="og:url"                   content="Put your own URL to the object here" />  -->
    <meta property="og:title"                 content="{{bar.name}}" /> 
    <meta property="og:image"                 content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" /> 
    <meta property="place:location:latitude"  content="{{bar.latitude}}" /> 
    <meta property="place:location:longitude" content="{{bar.longitude}}" /> 
  </head>
  <body></body>
</html>
